# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ContosoUniversity.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MDHIRAN\source\repos\ContosoUniversityDotNetCore-Pages\.idea\.idea.ContosoUniversity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
